<div style="width: 100%; margin-top: 10px; display: flex; align-items: center">
  <div style="display: flex; align-items: center; margin-right: 20px; padding-top: 3px">
    <span style="height: 22px; aspect-ratio: 1/1; margin-right: 5px; padding-bottom: 4px">{% include "github-mark.svg" %}</span>
    <a href="https://github.com/Vuenc/TUM-Master-Informatics-Offered-Lectures">This project on Github</a>
  </div>
  <script src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
  <script>
    kofiwidget2.init("Buy me a Coffee", "#29abe0", "K3K6135GAH")
    kofiwidget2.draw()
  </script>
</div>
